body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

.navbar {
    background: #222;
    padding: 12px;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.content {
    padding: 20px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;
    font-weight: bold;
}
